:root {
    --BODY_BG_COLOR: #ffffff;
    --FONT_COLOR: #000000;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

html, body {
    background-color: var(--BODY_BG_COLOR);
    color: var(--FONT_COLOR);
}

#container {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#block_clock {
    font-size: 0px;
}

#block_clock * {
    font-size: 9vw;
}

#block_date {
    font-size: 3vw;
    margin: 0px 0px 1vw 0px;
}

.clock_space {
    padding: 0px 0.5vw 0px 0.5vw;
}

#block_sensor {
    font-size: 3.7vw;
}

.sensor_text {
    font-size: 3vw;
}

.gap_h {
    padding: 0px 0.5vw 0px 0.5vw;
}