:root {
    --BODY_BG_COLOR: #ffffff;
    --FONT_COLOR: #000000;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

html, body {
    background-color: var(--BODY_BG_COLOR);
    color: var(--FONT_COLOR);
}

#container {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#block_clock {
    font-size: 0px;
}

#block_clock * {
    font-size: 150px;
}

#block_date {
    font-size: 40px;
    margin: 0px 0px 40px 0px;
}

.clock_space {
    padding: 0px 30px 0px 30px;
}

#block_sensor {
    font-size: 60px;
}

.sensor_text {
    font-size: 50px;
}

.gap_h_40px {
    padding: 0px 20px 0px 20px;
}