:root {
    --LINK_HOVER: #0011ff;
    --NAVBAR_BG_COLOR: #0066ff;
    --NAVBAR_F_COLOR: #ffffff;
    --NAVBAR_VL_COLOR: #fcfcfc;
    --NAVBAR_SELECT_COLOR: #004ec2;
    --BODY_BG_COLOR: #fdfdfd;
    --STATUS_BG_COLOR: #000000ad;
    --STATUS_F_COLOR: #ffffff;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 20px;
}

html, body {
    background-color: var(--BODY_BG_COLOR);
}

#container {
    display: none;
}

#navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: var(--NAVBAR_BG_COLOR);
    color: var(--NAVBAR_F_COLOR);
}


#navbar div {
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer
}

#navbar div.logo span {
    font-size: 30px;
    padding: 0px 20px 0px 0px;
}

#navbar div.logo i {
    vertical-align: middle;
    margin: 0px 10px 0px 20px;
}

#navbar div.vertical-line {
    border-left: 6px solid var(--NAVBAR_VL_COLOR);
    height: 40px;
    margin: 0px 10px 0px 0px;
}

#navbar div.item {
    font-size: 30px;
    padding: 0px 20px;
}

#navbar div.item span {
    font-size: 25px;
}

#navbar div.item i {
    font-size: 20px;
    vertical-align: middle;
    margin: 0px 6px 0px 0px;
}

#navbar div.item.active {
    background-color: var(--NAVBAR_SELECT_COLOR);
}

#content {
    margin: 80px 10px 10px 10px;
}

#content_info .block {
    margin: 20px;
}

#content_info .block h1 {
    font-size: 25px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
}

#content_setting .block {
    margin: 20px;
}

#content_setting .block h1 {
    font-size: 25px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
}

.link {
    cursor: pointer;
}

.link:hover {
    color: var(--LINK_HOVER);
}

.ph_10px {
    padding: 0px 10px;
}

.ph_5px {
    padding: 0px 5px;
}

.pv_10px {
    padding: 10px 0px;
}

.pv_5px {
    padding: 5px 0px;
}

.pv_2px {
    padding: 2px 0px;
}

#STATUS {
    display: none;
    align-items: center;
    justify-content: left;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: auto;
    height: 60px;
    background-color: var(--STATUS_BG_COLOR);
    color: var(--STATUS_F_COLOR);
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
}

.radio_enable_disable {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.text_box {
    width: 300px;
    height: 30px;
    padding: 3px;
}

.select_box {
    width: 300px;
    height: 30px;
    padding: 3px;
}

.btn_setting {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 40px;
    background-color: var(--NAVBAR_BG_COLOR);
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    color: var(--NAVBAR_F_COLOR);
}

.btn_setting:hover {
    background-color: var(--NAVBAR_SELECT_COLOR);
}

.btn_setting_gap {
    padding: 0px 3px 0px 3px;
    display: inline-flex;
}

#wifi_password_hide {
    display: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    margin: 0px 0px 0px 10px;
}

#wifi_password_unhide {
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    margin: 0px 0px 0px 10px;
}

#time_sync_now {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 33px;
    background-color: var(--NAVBAR_BG_COLOR);
    border-radius: 10px;
    padding: 5px;
    font-size: 23px;
    color: var(--NAVBAR_F_COLOR);
}

#time_sync_now:hover {
    background-color: var(--NAVBAR_SELECT_COLOR);
}

#time_utc-offset {
    width: 308px;
    height: 38px;
}

@media only screen and (max-width: 700px) {
    html {
        width: 700px;
        min-width: 700px;
    };

    #navbar {
        width: 700px;
        min-width: 700px;
    }
};