[submodule "LiquidCrystal_I2C"]
	path = arduino-library/LiquidCrystal_I2C
	url = https://github.com/johnrickman/LiquidCrystal_I2C
[submodule "arduino-ds1302"]
	path = arduino-library/arduino-ds1302
	url = https://github.com/msparks/arduino-ds1302
[submodule "DHT-sensor-library"]
	path = arduino-library/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library
[submodule "Adafruit_Sensor"]
	path = arduino-library/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "arduino-library/ESPAsyncWebServer"]
	path = arduino-library/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer
[submodule "arduino-library/ESPAsyncTCP"]
	path = arduino-library/ESPAsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP
[submodule "arduino-library/NTPClient"]
	path = arduino-library/NTPClient
	url = https://github.com/arduino-libraries/NTPClient
[submodule "arduino-library/ArduinoJson"]
	path = arduino-library/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
